/*명명 spa-shell- : 이 클래스를 spa.shell.js 에서 관리
외부 모듈과 네임스페이스가 충돌하지 않음
html 디버깅 시 셸 모듈에서 어떤 엘리먼트를 생성 및 제어하는 지 알 수 있음

제거: .spa-shell-head-search p.249
*/
.spa-shell-head, .spa-shell-head-logo, .spa-shell-head-acct,
.spa-shell-main, .spa-shell-main-nav, /*.spa-shell-head-search*/
.spa-shell-main-content, .spa-shell-foot, /*.spa-shell-chat,*/ .spa-shell-modal {
    position: absolute;
}

.spa-shell-head {
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.spa-shell-head-logo {
    top: 4px;
    left: 8px; /* 4->8. logo 가 모서리에서 멀어지게끔*/
    width: 128px;
    height: 32px;
}
/*logo div 안에 있는 헤더*/
.spa-shell-head-logo h1{
    font: 800 22px/22px Arial, Helvetica, sans-serif;
    margin: 0;
}
/*logo div 안에 있는 단락*/
.spa-shell-head-logo p{
    font: 800 10px/10px Arial, Helvetica, sans-serif;
    margin: 0;
}

/*사용자 영역 텍스트를 좀더 읽기 쉽도록 변경*/
.spa-shell-head-acct {
    top: 4px;
    right: 0;
    width: 210px;
    height: 32px;
    line-height: 32px;
    background: #888;
    color: #fff;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    /*넘치면 말줄임표 ... https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow*/
    text-overflow: ellipsis;
}

.spa-shell-main {
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;
}

.spa-shell-main-content,
.spa-shell-main-nav {
    top: 0;
    bottom: 0;
}
/*nav 가 main-content 위에 오도록*/
.spa-shell-main-nav {
    width: 400px; /*250->400. 더 넓게*/
    background: #eee;
    z-index: 1;
}

    /*자식 엘리먼트에 영향을 주는 부모 클래스 사용*/
    /*nav 에서는 none 이나 width 나 보이는 게 같다. 나중에 애니메이션 차이가 있겠지*/
    .spa-x-closed .spa-shell-main-nav {
        /*display: none;*/
        width: 0;
    }

.spa-shell-main-content {
    left: 400px; /*250->400. 더 넓게*/
    right: 0;
    background: #ddd;
}

    /*display:none; 으로 하면 색상이 사라진다*/
    .spa-x-closed .spa-shell-main-content {
        left: 0;
    }

.spa-shell-foot {
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
}
/* spa.chat.css 로 이동
.spa-shell-chat {
    bottom: 0;
    right: 0;
    width: 300px;
    height: 15px;
    !*슬라이더 영역에 커서가 올라가 있으면 커서 아이콘 변경 > 사용자에게 클릭 가능한 영역임을 알려줌1*!
    cursor: pointer;
    background: red;
    !*둥근 모서리*!
    border-radius: 5px 0 0 0;
    !*숫자가 커야 더 '사용자 눈'에 가깝게 다가온다*!
    z-index: 2;
}
!*슬라이더 배경색 변경 > 사용자에게 클릭 가능한 영역임을 알려줌2*!
.spa-shell-chat:hover {
    background: #a00;
}
*/
/* 채팅 슬라이더를 방해하지 않도록 주석
.spa-shell-modal {
    margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: #fff;
    z-index: 1;
}
*/
